html{
    background: linear-gradient(to left, #0099cc 13%, #00ff99 96%);
}
#gameBody{
    display:grid;
    grid-template-columns: 550px 35px;
    grid-gap: 20px;
    width: 850px;
    height: 635px;
    margin: auto;
    border: black 5px solid;
    background-image: url('island3.jpg');
}
#controlPanel{
    display: grid;
    grid-template-rows: repeat(3, 32%);
    grid-gap: 1px;
    width: 20px;
    height: 550px;
    margin-top: 95px;
    margin-left: 5px;
}
#battleChart{
    display: grid;
    width: 550px;
    height: 605px;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(11, 50px);
    grid-gap: 5px;
    padding: 25px;
    float: left;
}
#UI{
    grid-column: 1 / 8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    padding: 2px;
    text-align: center;
    font-size: 24px;
    color: seashell;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.UI{
    background-color: black;
    opacity: 0.92;
    border-radius: 25px;
    padding: 25px;
    text-align: center;
    font-size: 12px;
    color: rgb(24, 179, 24);
    font-weight: bold;
}

#radar{
    width: 100px;
    height: 60px;
    color: rgb(0, 255, 98);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: auto;
    margin-top: 20px;
    font-size: 50px;
    border: 1px green solid;
}
.innerUI{
    background-color: teal;
    border: rgba(57, 135, 224, 0.493) 2px solid;
}
.innerUI2{
    background-color: crimson;   
}
.sidebar{
    background-color: black;
    color: cyan;
    padding: 20px;
    text-align: center;
    border: cyan 2px solid;
}
#startButton{
    grid-column: 8 / 11;
    border: 1px black solid;
    padding: 2px;
    text-align: center;
    font-size: 35px;
    color: seashell;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border-radius: 25px;
}
.unSelected{
    background-color: black;
    opacity: 0.8;
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 14px;
}
.unSelected:hover{
    background-color: chartreuse;
}
.hit{
    background-color: coral;
    opacity: 0.8;
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 14px;
}
.miss{
    background-color: blueviolet;
    opacity: 0.8;
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 14px;
}
.detect{
    background-color: chartreuse;
    opacity: 0.8;
    color: black;
    font-size: 18px;
    text-align: center;
    padding-top: 14px;
}
#radarUses{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5px;
    grid-gap: 5px;
}
.noCharge{
    border: green 1px solid;
    background-color:black;
    height: 25px;
    width: 25px;
}
.charged{
    border: white 1px solid;
    background-color: yellow;
    height: 25px;
    width: 25px;
};